<!DOCTYPE HTML>
<html
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
        <script src="/webjars/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

        <title layout:title-pattern="$CONTENT_TITLE"></title>

        <link rel="stylesheet"
              href="/webjars/bootstrap/4.0.0-beta/css/bootstrap.min.css" />
    </head>
<body layout:fragment="body">
Content goes here
</body>
</html>